<script>
    import TodoItem from './TodoItem.svelte'

    let newTaskTitle = '';
    let currentFilter = 'all';
    let nextId = 4;

    let tasks = [
        {
            id:1,
            title:'My first todo',
            completed: false
        },
        {
            id:2,
            title:'My second todo',
            completed: false
        },
        {
            id:3,
            title:'My third todo',
            completed: false
        }
    ];

    function addTask(event) {
        //check key
      if (event.key === 'Enter'){
          // using spread, update current tasks, with new element
          tasks = [...tasks, {
              id:nextId,
              title: newTaskTitle,
              completed:false
          }];
          // increasing id
          nextId+=1;
          // set Default title to empty string
          newTaskTitle = '';
      }
    }

    $: tasksRemaining = filteredTasks.filter(task => !task.completed).length;
    $: filteredTasks = currentFilter === 'all' ? tasks : currentFilter === 'completed'
        ? tasks.filter(task => task.completed)
        : tasks.filter(task => !task.completed);

    function checkAllTasks(event) {
      tasks.forEach(task => task.completed = event.target.checked);
      // just to update
      tasks = tasks;
    }

    function updateFilter(newFilter) {
      currentFilter = newFilter;
    }

    function clearCompleted() {
      tasks = tasks.filter(task => !task.completed);
    }

    function deleteTask(event) {
      tasks = tasks.filter(task => task.id !== event.detail.id);
    }

    function toggleComplete(event) {
      const taskIndex = tasks.findIndex(task => task.id === event.detail.id);
      const updatedTask = { ...tasks[taskIndex], completed: !tasks[taskIndex].completed}

      tasks = [
          ...tasks.slice(0,taskIndex),
          updatedTask,
          ... tasks.slice(taskIndex+1)
      ];
    }
</script>


<style>
    .container{
        max-width: 800px;
        margin: 10px auto;
    }
    .logo{
    display: block;
    margin: 20px auto;
    width: 50%;
    }
    .task-input{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    }
    .inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    margin-bottom: 13px;
    }
    .inner-container-input{
    margin-right: 12px;
    }
    button{
    font-size: 14px;
    background-color: #f4f4f4;
    -webkit-appearance: none;
    }
    button:hover{
    background: mediumslateblue;
    }
    button:focus{
    outline: none;
    }
    .active{
    background: mediumslateblue;
    }
</style>

<div class="container">
    <img src={'/img/todo.png'} alt="todo logo">

    <h2>Svelte Todo App</h2>
    <input type="text" class="task-input" placeholder="Insert task ..." bind:value={newTaskTitle} on:keydown={addTask}>

    {#each filteredTasks as task}
        <div class="task-item">
            <TodoItem {...task} on:deleteTask={deleteTask} on:toggleComplete={toggleComplete}/>
        </div>
    {/each}

    <div class="inner-container">
        <div><label><input type="checkbox" class="inner-container-input" on:change={checkAllTasks}>Check All</label></div>
        <div>{tasksRemaining} items left</div>
    </div>

    <div class="inner-container">
        <div>
            <button on:click={()=> updateFilter('all')} class:active="{currentFilter === 'all'}">All</button>
            <button on:click={()=> updateFilter('active')} class:active="{currentFilter === 'active'}">Active</button>
            <button on:click={()=> updateFilter('completed')} class:active="{currentFilter === 'completed'}">Completed</button>
        </div>
        <div>
            <button on:click={clearCompleted}>Clear Completed</button>
        </div>
    </div>
</div>